= semantic_form_for [:admin, @page] do |f|
  = f.inputs do
    = f.input :title, :required => true, :label => true, :input_html => {:class => 'text_input'}
    = f.input :slug, :label => true, :input_html => {:class => 'text_input'}
    = f.input :label, :label => true, :input_html => {:class => 'text_input'}
    = f.input :template, :label => true, :as => :select, :collection => Page.templates.map{|t| [t.humanize.titleize, t]}, :include_blank => false
    = f.input :show_in_nav, :label => true
  = submit_button('admin.save')
  &nbsp;
  = link_to 'Cancel', admin_pages_path