= form_for [:admin, @page] do |f|
  = f.label :title
  = f.text_field :title
  = f.label :slug
  = f.text_field :slug
  = f.label :label
  = f.text_field :label
  = f.label :show_in_nav
  = f.text_field :show_in_nav
  = f.label :template, as: :select, collection: Page.templates.map{ |t| [t.humanize.titleize, t] }, include_blank: false
  = f.submit 'save'
= link_to 'Cancel', admin_pages_path