= form_for [:admin, @page] do |f|
  %form
    %fieldset
      .small-12.column-block
        %label.required
          = f.label :title
          %br
          = f.text_field :title
          %br
          %small At the top of the page and in the title bar.
      .small-12.column-block
        %label.required
          = f.label :slug
          %br
          = f.text_field :slug
          %br
          %small the url - must be lowercase and/or numbers or dashes only.
      .small-12
        %label.required
          = f.label :label
          %br
          = f.text_field :label
          %br
          %small In the navigation -should be short.
      .small-12.column-block
        %label{ for: "Show in navigation" }
          %input{ type: "checkbox" }
          = f.label :show_in_nav, label: true
      .small-12
        %label.required
          = f.label :template
        %br
          = f.select :template, Page.templates.map{ |t| [t.humanize.titleize, t] }, include_blank: false
    .small-12
      = f.submit
      = button_to 'Cancel', admin_pages_path
