/with divs because of IE7
- no_rule_after ||= false
%div.typography
  %ul.no-bullet
    - group.in_groups_of(3) do |row|
      - row.each do |ea|
        - if ea
          %li.small-6.medium-4.grid-stack
            - if ea.last.is_a?(String)
              %div
                = image_tag ea.last, :alt => ea.first, class: "grid-image"
              %h3.grid-image-caption
                = ea.first
            - else
              = link_to sign_url(ea.last.id), {:class => 'drawing'} do
                = image_tag "signs/150-100/#{ea.last.drawing}", :alt => ea.first, class: "grid-image"
              = link_to sign_url(ea.last.id), {class: 'image-caption'} do
                = ea.first
