%ol.grid.clearfix.rule_after
  - group.each_with_index do |ea, i|
    %li{:class => (i.multiple_of?(3) ? 'row_start' : nil)}
      - if ea.last.is_a?(String)
        %div.grid_drawing.drawing
          = image_tag ea.last, :alt => ea.first
        %div.h2.main_gloss
          = ea.first
      - else 
        = link_to sign_url(ea.last.id), {:class => 'drawing grid_drawing'} do
          = image_tag "/images/signs/150-100/#{ea.last.drawing}", :alt => ea.first
        = link_to sign_url(ea.last.id), {:class => 'main_gloss'} do
          = ea.first