.typography.rule_after
  %h1 Numbers Signs
  = video_translation('number-signs')
  :markdown
    Many numbers have alternate or varying forms in NZSL. Variation in numbers is 
    linked to age, region, and personal preference of signers. New (Auslan) numbers 
    were introduced into schools with Australasian Signed English in 1979, 
    which differed from the number signs used by earlier generations.
  
    NZSL has several systems that incorporate number in which a number sign has a 
    distinct movement and/or location including:
    
    * [Cardinal Numbers](#cardinal) (counting)
    * [Ordinal Numbers](#ordinal) (ordering: 1st)
    * [Age](#age)
    * [Time](#time)
    * [Money](#money)
    * [Fractions](#fractions)
- unless numbers[:cardinal].length.zero?
  .typography
    %h2#cardinal Cardinal Numbers
  = render :partial => 'static_pages/grid', :locals => {:group => numbers[:cardinal]}
- unless numbers[:ordinal].length.zero?
  .typography
    %h2#ordinal Ordinal Numbers
  = render :partial => 'static_pages/grid', :locals => {:group => numbers[:ordinal]}
- unless numbers[:age].length.zero?
  .typography
    %h2#age Age
  = render :partial => 'static_pages/grid', :locals => {:group => numbers[:age]}
- unless numbers[:time].length.zero?
  .typography
    %h2#time Time
  = render :partial => 'static_pages/grid', :locals => {:group => numbers[:time]}
- unless numbers[:money].length.zero?
  .typography
    %h2#money Money
  = render :partial => 'static_pages/grid', :locals => {:group => numbers[:money]}
- unless numbers[:fractions].length.zero?
  .typography
    %h2#fractions Fractions
  = render :partial => 'static_pages/grid', :locals => {:group => numbers[:fractions]}