.sign_attribute_selection.handshapes.text_input
  = hidden_field_tag :"hs_#{id}", search_term(:hs), :class => 'selected_field', :name => :hs
  %a.dropdown_arrow{:href => 'javascript:void(0);'}
    ▼
    .border_mask
    .attribute_options.clearfix.dropdown{:style => "display:none"}
      .title=t('search.signs.handshapes_help');
      .close=t('search.close')
      - Sign.handshapes.each do |row|
        %ul.row
          - row.each do |group|
            %li{:class => "group #{handshape_selected?(group.first)}"}
              = handshape_image group.shift, true
              - unless group.length.zero?
                %ul{:class => "sub transition sub#{group.length}"}
                  -group.each do |shape|
                    %li{:class => " #{handshape_selected?(shape)}"}= handshape_image shape
  .selected_signs_wrapper
    .selected_signs
      = display_handshapes_search_term
    .default{:style => "display:#{@query[:hs].blank? ? 'block' : 'none'}"}= t('search.signs.default_handshape')

.sign_attribute_selection.locations.text_input
  = hidden_field_tag :"l_#{id}", search_term(:l), :class => 'selected_field', :name => :l
  = hidden_field_tag :"lg_#{id}", search_term(:lg), :class => 'selected_groups_field', :name => :lg
  %a.dropdown_arrow{:href => 'javascript:void(0);'}
    ▼
    .border_mask
    .attribute_options.clearfix.dropdown{:style => "display:none"}
      .title=t('search.signs.locations_help');
      .close=t('search.close')
      - Sign.locations.each_with_index do |row, i|
        %ul.row
          -row.each_with_index do |shape, j|
            - if i.zero? || j.zero?
              %li{:class => "#{location_group_selected?(shape)}"}= location_image shape, true, true
            - else
              %li{:class => "#{location_selected?(shape)}"}= location_image shape, false, true
  .selected_signs_wrapper
    .selected_signs
      = display_locations_search_term
      = display_location_groups_search_term
    .default{:style => "display:#{@query[:l].blank? && @query[:lg].blank? ? 'block' : 'none'}"}= t('search.signs.default_location')