= form_for [:admin, @page, @page_part] do |f|
  %form{"data-abide" => ""}
    %fieldset
      .small-12.column-block
        %label.required
          = f.label :title
          %br
          = f.text_field :title
      .small-12.column-block
        %label
          = f.label :translation_path
          %br
          = f.text_field :translation_path
      .small-12.column-block
        %label.required
          = f.label :body
          %br
          = f.text_area :body, class: 'text_input ckeditor'
    .small-12
      = f.submit
      = button_to 'Cancel', edit_admin_page_path(@page)
