= semantic_form_for [:admin, @page, @page_part] do |f|
  = f.inputs do
    = f.input :title, required: true, label: true, input_html: { class: 'text_input' }
    = f.input :translation_path, label: true, input_html: { class: 'text_input' }
    = f.input :body, required: true, label: true, input_html: { class: 'text_input ckeditor' }
  = f.submit
  = link_to 'Cancel', edit_admin_page_path(@page), class: 'cancel'