.header
  .center
    - if params[:print]
      = link_button 'back', {:print => false}, :class => 'view_print_back_link'
  .nav
    .search-container.small-12.small-centered.medium-9.large-7
      %div{:class => "search_form clearfix_left"}
        = form_tag search_signs_path, :method => :get, class: "js-ga-form-submission" do
          = render :partial => 'shared/search/keywords'
          %div{:class => "search-tab #{tab_class(:advanced)} show-for-medium"}
            = link_to t('search.tabs.advanced'), {:tab => 'advanced'}
            %span.small-caret

          %div{:class => "#{tab_class(:advanced)} clearfix medium-12 medium-centered advanced-search-container show-for-medium hide"}
            = render :partial => 'shared/search/signs'

            %div{:class => "sign_attribute_selection advanced-search-button sign-search-button search_field topic float-left #{tab_class(:advanced, :signs)}"}
              = text_field_tag :topic, search_term(:topic), :class => 'selected_field'
              %a.dropdown_arrow{:href => 'javascript:void(0);'}
                .clearfix.dropdown.float-left.text_input
                  %ul.no-bullet
                    - SignMenu.topic_tags.each do |name, i|
                      %li{id: "topic-#{i}", class: "topic-dropdown"}
                        = name
              .default{:style => "display:#{@query[:l].blank? && @query[:lg].blank? ? 'block' : 'none'}"}= t('search.advanced.topic_tags')
              %span.caret

            %div{:class => "sign_attribute_selection advanced-search-button sign-search-button usage float-left #{tab_class(:advanced, :signs)}"}
              = text_field_tag :usage, search_term(:usage), :class => 'selected_field'

              %a.dropdown_arrow{:href => 'javascript:void(0);'}
                .clearfix.dropdown.float-left.text_input
                  %ul.no-bullet
                    - SignMenu.usage_tags.each do |name, i|
                      %li{id: "usage-#{i}", class: "usage-dropdown"}
                        = name
              .default{:style => "display:#{@query[:l].blank? && @query[:lg].blank? ? 'block' : 'none'}"}= t('search.advanced.usage_tags')
              %span.caret

          = submit_search_button
          %a.show-for-medium.empty.if_js{:href => 'javascript:void(0);'}= t('clear')

/ Because it's in the header-nav it binds the js-ga-*-submission elements for all pages.
- content_for(:scripts) do
  :javascript
    $(function() { $(".js-ga-form-submission").on('submit', ga_form_submission); });
    $(function() { $(".js-ga-link-submission").on('click', ga_link_submission); });
