%header.header
  .logo.center.ir NZSL Online
  %nav
    .l.edge
    .r.edge
    .center
      %ul.search_tabs
        %li.keywords.tab
          .l
          = t('search.tabs.keyword')
          .r
        %li.signs.selected.tab
          .l
          = t('search.tabs.sign')
          .r
        %li.advanced.tab
          .l
          = t('search.tabs.advanced')
          .r
        %li.help
          .l
          = link_to t('search.tabs.help'), '/help'
          .r
      .bottom_border
      .keywords.search_form.clearfix
        = form_tag search_signs_path, :method => :get do
          = render :partial => 'shared/search/keywords'
          = submit_button
      .signs.selected.search_form.clearfix
        = form_tag search_signs_path, :method => :get do
          = render :partial => 'shared/search/signs'
          = submit_button
      .advanced.search_form.clearfix
        = form_tag search_signs_path, :method => :get do
          = render :partial => 'shared/search/keywords'
          .clearfix
            = render :partial => 'shared/search/signs'
          = submit_button
    .menu.menu_background
    .menu
      %ul.center
        - static_links.each_with_index do |link, i|
          %li{:class => (i.zero? ? 'first' : '')}= render_navigation_link(link)
  = render :partial => 'shared/flashes'