%header.small-12
  .center
    - if params[:print]
      = orange_submit_button 'back', {print: false}, class: 'view_print_back_link'
  .header-nav.small-12.medium-10.xlarge-9.medium-centered
    = link_to(image_tag("img/nz_sign_lang.svg"), root_url, class: "header-logo float-left show-for-large")
    = link_to(image_tag("img/nzsl_dict.svg"), root_url, class: "tablet-logo float-left show-for-medium-only")
    .menu-list.show-for-medium.float-right
      %ul.no-bullet.float-right
        - Page.in_header_nav.each_with_index do |link, i|
          %li{ class: (i.zero? ? 'first' : '') }= render_navigation_link(link)
        %li.help
          = link_to t('search.tabs.help'), Page.find(Setting.get(:help)).try(:path), class: "js-ga-link-submission", onclick: "_gaq.push(['_trackEvent', 'Nav', 'Click', 'Help']);"
  %div{class: "hamburger-menu-icon show-for-small-only float-left",onclick: "openNav()"}
    = image_tag "img/hamburger.svg"
  .mobile-logo.text-center.show-for-small-only.small-4.small-centered
    = link_to(image_tag("img/nzsl_dict.svg"), root_url)
  #mobileNav.overlay.hide-for-medium
    %a.closebtn{href: "#", onclick: "closeNav()"} &times;
    .overlay-content.small-12.text-center
      %ul.no-bullet
        - Page.in_nav.each_with_index do |link, i|
          %li{ class: (i.zero? ? 'first' : '') }= render_navigation_link(link)
        %li.help
          = link_to t('search.tabs.help'), Page.find(Setting.get(:help)).try(:path), class: "js-ga-link-submission", onclick: "_gaq.push(['_trackEvent', 'Nav', 'Click', 'Help']);"

  = render "shared/search"

/ Because it's in the header-nav it binds the js-ga-*-submission elements for all pages.
- content_for(:scripts) do
  :javascript
    $(function() { $(".js-ga-form-submission").on('submit', ga_form_submission); });
    $(function() { $(".js-ga-link-submission").on('click', ga_link_submission); });
