%header
  .center
    - if params[:print]
      = link_button 'back', {:print => false}, :class => 'view_print_back_link'
  .header-nav
    .menu-list
      %ul
        - Page.header_nav.each_with_index do |link, i|
          %li{:class => (i.zero? ? 'first' : '')}= render_navigation_link(link)
        %li.help
          = link_to t('search.tabs.help'), Page.find(Setting.get(:help)).try(:path), class: "js-ga-link-submission", onclick: "_gaq.push(['_trackEvent', 'Nav', 'Click', 'Help']);"
  .hamburger-menu-icon.hide-for-medium.float-left
    = image_tag "img/hamburger.svg", onclick: "openNav()"
  .logo-text
    New Zealand Sign Language dictionary
#mobileNav.overlay.hide-for-medium
  %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
  .overlay-content
    %ul
      - Page.in_nav.each_with_index do |link, i|
        %li{:class => (i.zero? ? 'first' : '')}= render_navigation_link(link)
      %li.help
        = link_to t('search.tabs.help'), Page.find(Setting.get(:help)).try(:path), class: "js-ga-link-submission", onclick: "_gaq.push(['_trackEvent', 'Nav', 'Click', 'Help']);"


/ Because it's in the header-nav it binds the js-ga-*-submission elements for all pages.
- content_for(:scripts) do
  :javascript
    $(function() { $(".js-ga-form-submission").on('submit', ga_form_submission); });
    $(function() { $(".js-ga-link-submission").on('click', ga_link_submission); });
