.header
  .center
    - if params[:print]
      = link_button 'back', {:print => false}, :class => 'view_print_back_link'
    = link_to 'NZSL Online', '/', {:class => 'logo ir'}
    = image_tag '/images/ui/logo-serrated.png', :class => 'print_logo'
  .nav
    .l.edge
    .r.edge
    .center
      %ul.search_tabs
        %li{:class => "tab #{tab_class(:keywords)}"}
          .l
          = link_to t('search.tabs.keyword'), {:tab => 'keywords'}
          .r
        %li{:class => "tab #{tab_class(:signs)}"}
          .l
          = link_to t('search.tabs.sign'), {:tab => 'signs'}
          .r
        %li{:class => "tab #{tab_class(:advanced)}"}
          .l
          = link_to t('search.tabs.advanced'), {:tab => 'advanced'}
          .r
        %li.help
          = link_to t('search.tabs.help'), '/help'
      .bottom_border
      %div{:class => "search_form clearfix_left"}
        = form_tag search_signs_path, :method => :get do
          = render :partial => 'shared/search/keywords'
          = render :partial => 'shared/search/signs'
          %div{:class => "search_field_selects search_field #{tab_class(:advanced)}"}
            = select_tag :tag, options_for_select([[t('search.advanced.topic_tags'), ''], [t('search.advanced.topic_tags_any'), '']] + Sign.topic_tags, search_term(:tag)), :class => "text_input"
            = select_tag :usage, options_for_select([[t('search.advanced.usage_tags'), ''], [t('search.advanced.usage_tags_any'), '']] + Sign.usage_tags, search_term(:usage)), :class => "text_input"
          = submit_button
          %a.empty.if_js{:href => 'javascript:void(0);'}= t('clear')
    .menu.menu_background
    .menu
      %ul#nav.center
        - static_links.each_with_index do |link, i|
          %li{:class => (i.zero? ? 'first' : '')}= render_navigation_link(link)