.vocab_sheet.js_vocab_sheet_bar{ style:  (vocab_sheet? ? '' : 'display:none') }
  %h3.title= t('vocab_sheet.title')
  .vocab_sheet_controls.vocab_sheet_bar_controls.clearfix
    = link_button 'vocab_sheet.link_to', vocab_sheet_url
    = link_button 'vocab_sheet.print', vocab_sheet_url(print: true)
  = render partial: 'shared/flashes', locals: { prefix: 'vocab_bar_' }
  = content_tag :ul do
    - if vocab_sheet?
      = render partial: 'shared/vocab_sheet_item', collection: sheet.items, locals: { modify_gloss: false }
