%li.vocab-sheet__item.vocab-sidebar__item
  = image_tag "signs/80-80/#{vocab_sheet_item.drawing}", class: "vocab-sidebar__image"
  %p.main_gloss
    = vocab_sheet_item.name
  %p.maori-gloss
    = vocab_sheet_item.maori_name
  .b
  = form_tag vocab_sheet_item_path(vocab_sheet_item), method: :delete do
    %button.remove{ type: 'submit' }= t('vocab_sheet.item.remove')
