<div class="search-result-banner small-12 text-center">
  <h2><%= @results_total %> search results for <%= display_search_term %></h2>
</div>
<div class="search-results__container text-center small-12 small-centered medium-8 large-9">
  <% @signs.each do |sign| %>
    <div class="search-results__card">
      <% if @query[:s] %>
        <% query_text = @query[:s].join(" ") %>
      <% else %>
        <% query_text = " " %>
      <% end %>
      <div class="video-container">
        <i class="fi-play play-button"></i>
        <%= videojs_rails sources: { mp4: sign.video }, class: "normal", controlsList:"nodownload", controls: false, preload: "auto", loop: true %>
      </div>
      <span class="search-results--placeholder"></span>
      <div class="clickable_link small-12 small-centered">
        <a class="div_link" href="<%= sign_url(sign.id) %>">
          <span>
            <div class="gloss_container small-11 small-centered">
              <%= link_to sign_url(sign.id), { class: 'main_gloss text-left js-ga-link-submission', onclick: "_gaq.push(['_trackEvent', 'Search', 'Click', '#{query_text}-#{sign.id}', #{@signs.find_index(sign)  + 1}]);" } do %>
                <%= sign.gloss_main %>
              <% end %>
              <div class="secondary_gloss text-left">
                <%= sign.gloss_secondary if sign.gloss_secondary.present? %>
              </div>
              <div class="maori_gloss small-12 text-left">
                <%= sign.gloss_maori if sign.gloss_maori %>
              </div>
              <div class="word_gloss small-12 text-left">
                <%= sign.word_classes if sign.word_classes.present? %>
              </div>
            </div>
          </span>
        </a>
      </div>
      <div class="card__bottom-row">
        <div class="card__sign-container">
          <%= link_to sign_url(sign.id), { class: 'drawing grid_drawing js-ga-link-submission', onclick: "_gaq.push(['_trackEvent','Search','Click','#{query_text}-#{sign.id}',#{@signs.find_index(sign) + 1}]);" } do %>
            <%= image_tag "signs/150-100/#{sign.drawing}", { class: 'card__drawing-image' } %>
          <% end %>
        </div>
        <div class="card__button-container">
          <%= link_to sign_url(sign.id), { class: "card__button" } do %>
            <span class="card__button-symbol card__button-symbol--blue">&rarr;</span>
            <span class="card__button-action">Learn More</span>
          <% end %>
          <%= link_to "#", { class: "card__button add-to-vocab-btn card__button--peach", "data-sign-id": sign.id } do %>
            <span class="card__button-symbol card__button-symbol--peach">+</span>
            <span class="card__button-action card__button-action--peach">Vocab Sheet</span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="pagination_container small-12 float-left text-center">
    <% if @results_total > Sign::RESULTS_PER_PAGE %>
      <ol class="pagination">
        <%= pagination_links %>
      </ol>
    <% end %>
  </div>
</div>
