%h1.search_results_for
  = t('search.results.for')
  &ldquo;#{display_search_term}&rdquo;
%p
  %em
    = pluralize @results_total, t('search.results.results')
/with divs because of IE7
%ol.grid.results.clearfix_left.rule_after
  - @signs.in_groups_of(3) do |row|
    .row_start
      - row.each do |result|
        - if result
          %li
            = link_to sign_url(result.id), {:class => 'drawing grid_drawing'} do
              = image_tag "signs/150-100/#{result.drawing}"
            = link_to sign_url(result.id), {:class => 'main_gloss'} do
              = result.gloss_main
            - if result.gloss_maori
              %span.h3.maori_gloss= result.gloss_maori
            - if result.gloss_secondary.present?
              %span.h3.secondary_gloss= result.gloss_secondary
            - if result.word_classes.present?
              %span.word_class= result.word_classes
- if @results_total > Sign::RESULTS_PER_PAGE
  %ol.rule_after.pagination.clearfix_left
    = pagination_links
