= render partial: 'shared/vocab_sheet', locals: { sheet: @sheet }
.small-12.text-center.search-result-banner
  %h1
    = @sign.gloss_main
.search-result-container.small-11.small-centered.medium-8
  .back-button-container
    = render_back_to_search_results
    %span.float-left.back-arrow-icon
      &larr;
  - if @sign.present?
    .sign-container.small-12.small-centered.medium-6.medium-uncentered.text-center
      .sign_attributes
        = handshape_image @sign.handshape
        = location_image @sign.location
      = image_tag "signs/320-180/#{@sign.drawing}", class: "main-image small-8 large-6"
      .glosses-container.glosses
        %h2.main_gloss= @sign.gloss_main
        %h2.main_gloss.maori-gloss= @sign.gloss_maori
      = form_tag vocab_sheet_items_path do
        = hidden_field_tag 'sign_id', @sign.id
        = add_vocab_button('vocab_sheet.item.add', class: 'add_to_sheet')
    .videos.small-12.medium-5
      .video-container
        %i.fi-play.play-button
        = videojs_rails sources: { mp4: @sign.video }, class: "main_video video normal", controlsList:"nodownload", controls: true, preload: "auto", loop: true
        - if @sign.video_slow.present?
          = videojs_rails sources: { mp4: @sign.video_slow }, class: "main_video video slow", controls: false, controlsList:"nodownload",  preload: "auto", loop: true, width: "100%"
          = play_video_button('signs.show.in_slow_motion', nil, class: 'float-left normal')
          = play_video_button('signs.show.at_normal_speed', nil, class: 'float-left slow')
      .glosses-container.glosses.small-12.float-left
        %h2.main_gloss= @sign.gloss_main
        %h2.secondary_gloss= @sign.gloss_secondary
        %h2.maori-gloss= @sign.gloss_maori
        %h2.word_gloss= @sign.word_classes
        %h2.secondary_gloss= render_grammar_notes(@sign)

    - unless @sign.examples.length.zero?
      .examples-container.clearfix.videos.small-12.small-centered.medium-5.medium-uncentered
        %h3= t('signs.show.usage_examples')
        - @sign.examples.each do |example|
          .typography.videos
            .video-container
              %i.fi-play.play-button
              = videojs_rails sources: { mp4: example[:video]}, class: "example_video video normal", controls: true, controlsList:"nodownload noremoteplayback", preload: "auto"
              - if example[:video_slow]
                = videojs_rails sources: { mp4: example[:video_slow] }, class: "example_video video slow", controls: true, controlsList:"nodownload noremoteplayback", preload: true, width: "100%"

                = play_video_button('signs.show.in_slow_motion', nil, class: 'float-left normal')
                = play_video_button('signs.show.at_normal_speed', nil, class: 'float-left slow')
            .small-12.float-left
              %p.secondary_gloss= render_transcription(example[:transcription], @sign.id)
              %h4.translation-gloss
                Translation
              %p.secondary_gloss
                %em= example[:translation]

    - if %w(usage_notes hint age_groups borrowed_from).any?{|note| @sign.send(note.to_sym).present? }
      .notes.small-12.typography
        %h4= t('signs.show.notes')
        %p= @sign.usage_notes
        - if @sign.hint.present?
          %p
            = "#{t('signs.show.hint')}: "
            %em= @sign.hint
        - if @sign.age_groups.present?
          %p
            = "#{t('signs.show.age_groups')}: "
            %em= @sign.age_groups
        =#TODO @sign.usage_tag
        - if @sign.borrowed_from.present?
          %p
            = "#{t('signs.show.related_to')}: "
            %em= @sign.borrowed_from.upcase
