.small-12.text-center.search-result-title
  %h1
    = @sign.gloss_main
.search-result-container.small-12.small-centered.medium-10.large-8
  .back-button-container
    = render_back_to_search_results
    %span.float-left
      &larr;
  - if @sign.present?
    .videos.medium-5.float-left
      %video.main_video.normal{preload: true, loop: true}
        %source{type: "video/mp4", src:  @sign.video}
      - if @sign.video_slow.present?
        %video.main_video.slow{controls: true, preload: true, loop: true}
          %source{type: "video/mp4", src:  @sign.video_slow}
        = orange_video_button('signs.show.in_slow_motion', nil, :class => 'float-left normal')
        = orange_video_button('signs.show.at_normal_speed', nil, :class => 'float-left slow')
      .glosses-container.glosses.small-12.float-left
        %h2= @sign.gloss_secondary
        %h4.minor_gloss= @sign.gloss_minor
        %h4= @sign.gloss_maori
        %h4.word_class= @sign.word_classes

    .sign-container.float-right.medium-5.text-center
      = image_tag "signs/320-180/#{@sign.drawing}"
      .glosses-container.glosses.row
        %h2= @sign.gloss_secondary
        %h2= @sign.gloss_maori
      .grammar
      = form_tag vocab_sheet_items_path do
        = hidden_field_tag 'sign_id', @sign.id
        = orange_submit_button('vocab_sheet.item.add', :class => 'add_to_sheet')
      .sign_attributes
        = handshape_image @sign.handshape
        = location_image @sign.location
    - unless @sign.examples.length.zero?
      .examples.rule_after.clearfix
        %h2= t('signs.show.usage_examples')
        - @sign.examples.each do |example|
          .example.clearfix.typography.videos
            %video.example_video.normal{controls: true, preload: true, loop: true}
              %source{type: "video/mp4", src:  example[:video]}
            - if example[:video_slow]
              %video.example_video.slow{controls: true, preload: true, loop: true}
                %source{type: "video/mp4", src:  example[:video_slow]}
            %p
              %em= example[:translation]
            %p= render_transcription(example[:transcription], @sign.id)
            - if example[:video_slow]
              = orange_video_button('signs.show.in_slow_motion', nil, :class => 'float-left normal')
              = orange_video_button('signs.show.at_normal_speed', nil, :class => 'float-left slow')
    - if %w(usage_notes hint age_groups borrowed_from).any?{|note| @sign.send(note.to_sym).present? }
      .notes.rule_after.typography
        %h2= t('signs.show.notes')
        %p= @sign.usage_notes
        - if @sign.hint.present?
          %p
            = "#{t('signs.show.hint')}: "
            %em= @sign.hint
        - if @sign.age_groups.present?
          %p
            = "#{t('signs.show.age_groups')}: "
            %em= @sign.age_groups
        =#TODO @sign.usage_tag
        - if @sign.borrowed_from.present?
          %p
            = "#{t('signs.show.related_to')}: "
            %em= @sign.borrowed_from.upcase
