<li class="small-6 medium-4 grid-stack float-left text-left">
  <a class="drawing" href="<%= sign_path(sign.id) %>">
    <img alt="<%= sign.gloss_main %>" class="grid-image" src="<%= sign.picture_url %>"/>
  </a>
  <a class="image-caption" href="<%= sign_path(sign.id) %>">
    <%= sign.gloss_main %>
  </a>
</li>
