= render :partial => 'pages/content'
.rule_after.clearfix_left.vertical_space.small-11.small-centered.medium-10.large-8

  %h2#feedback Send Feedback
  = render :partial => 'shared/flashes', :locals => {:prefix => 'feedback_'}
  = form_for @feedback, :url => feedback_index_path(:anchor => 'feedback'), :html => {:multipart => true} do |f|
    %fieldset.fieldset
      .small-6.column-block
        %label.required
          = f.label :name
          = f.text_field :name, class: "text-input"
      .small-6.column-block
        %label.required
          = f.label :email
          = f.text_field :email, class: "text-input"
          %small.inline-hints If provided, must be a valid email address
      .small-6
        %label
          = f.label :hearing_level, "Are you"
          - ["Deaf", "Hearing impaired", "Hearing"].each do |item|
            = f.radio_button :hearing_level, item, class: "item-style"
            = item
      .small-6
        %label
          = f.label :nzsl_level, "Are you a"
          - ["Fluent NZSL user", "NZSL user", "NZSL learner"].each do |category|
            = f.radio_button :nzsl_level, category
            = category
      .small-6.column-block
        %label
          %input{ type: "checkbox", id: "feedback_include_sign" }
          = f.label :include_sign, "Suggest an NZSL sign to be included in the dictionary"
          %li.if_feedback_include_sign.unless_js.sub-form
            %ol
              = f.label :include_describe
              = f.text_field :include_describe, class: "text-input"
              = f.label :include_define
              = f.text_field :include_define, class: "text-input"
              = f.label :include_users
              = f.text_field :include_users, class: "text-input"
      .small-6.column-block
        %label
          %input{ type: "checkbox" }
          =f.label :technical_fault, "Report a technical fault"
      .small-6.column-block
        %label
          =f.label :video
      %input{type: "hidden", value: @page.id, name: "page_id"}
        = f.submit t("feedback.submit")


