.typography
  %h1
    The Online Dictionary of
    %br
    New Zealand Sign Language
  / # = video_translation(@page.first_part) if @page.first_part.present? &&  @page.first_part.translation_path.present?

  - if @page.first_part.present?
    .translation_video.main_video.hidden_video
      .flowplayer{"data-ratio" => "0.75"}
        %video
          %source{:src => "#{asset_path("front-page.webm")}", :type => "video/webm"}
          %source{:src => "#{asset_path("front-page.mp4")}", :type => "video/mp4"}


  .rule_after.clearfix_left
    - if @page.first_part.present?
      .home_content.ckeditor_content
        != @page.first_part.body
    = render :partial => '/signs/sign_of_the_day', :locals => {:sign => Sign.random}
  - @page.page_parts.each_with_index do |page_part, i|
    - next if i.zero?
    .rule_after
      %h2= page_part.title
      = video_translation(page_part) if page_part.translation_path.present?
      .ckeditor_content
        != page_part.body
