<div class="vocab_sheet_item__column vocab_sheet_item__column--<%=size%>">
  <li class="vocab_sheet_item vocab_sheet_page_item shadow rounded">
    <%= hidden_field_tag "item[#{vocab_sheet_item.id}][id]", vocab_sheet_item.id, class: 'item_id' %>
    <%= link_to sign_url(vocab_sheet_item.sign_id), { class: "drawing vocab_sheet_drawing drawing vocab_sheet_drawing__size--#{size}" } do %>
      <%= image_tag "signs/#{vocab_sheet_image_width}-#{vocab_sheet_image_height}/#{vocab_sheet_item.drawing}" %>
    <% end %>
    <% if print %>
      <%= render partial: "print_item_names", locals: { vocab_sheet_item: vocab_sheet_item } %>
    <% else %>
      <%= render partial: "editable_item_names", locals: { vocab_sheet_item: vocab_sheet_item } %>
    <% end %>
    <%= form_tag vocab_sheet_item_path(vocab_sheet_item), method: :delete do %>
      <button class="remove" type= 'submit'> <%=t('vocab_sheet.item.remove')%> </button>
    <% end %>
  </li>
</div>
