%li.vocab_sheet_item.vocab_sheet_page_item
  = hidden_field_tag "item[#{vocab_sheet_item.id}][id]", vocab_sheet_item.id, :class => 'item_id'
  = link_to sign_url(vocab_sheet_item.sign.id), {:class => 'drawing vocab_sheet_drawing'} do
    = image_tag "/images/signs/140-120/#{vocab_sheet_item.sign.drawing}"
  = form_tag vocab_sheet_item_path(vocab_sheet_item), :method => :put do
    = text_area_tag "item[#{vocab_sheet_item.id}][name]", vocab_sheet_item.name, :class => 'item_name text_input'
  .b
  = form_tag vocab_sheet_item_path(vocab_sheet_item), :method => :delete do
    = submit_tag t('vocab_sheet.item.remove'), {:class => 'remove'}