
<div class="print-page-wrapper">
  <div class="header">
    <%= image_tag "ui/logo.png", class: "logo--print" %>
    <h2 class="vocab__sheet-name--print-view"><%= @sheet.name.present? ? sheet_name : t('vocab_sheet.name') %></h2>
  </div>

  <% if @sheet.items.length > 0 %>
    <div class="vocab_sheet vocab_sheet_page">
      <ul id="vocab_sheet">
        <% @sheet.items.each_with_index do |vocab_sheet_item, i| %>
          <% if params[:print] && !i.zero? && i.multiple_of?(vocab_sheet_offset_multiple) %>
            <%= render partial: "shared/print_page_boundary" %>
          <% end %>
          <%= render partial: "vocab_sheets/vocab_sheet_item", locals: { vocab_sheet_item: vocab_sheet_item, size: @size } %>
        <% end %>
      </ul>
    </div>
    <%= render partial: "shared/print_footer", locals: {last: false} %>
  <% else %>
    <%= t("vocab_sheet.empty") %>
  <% end %>
</div>
