<% content_for :scripts do %>
  # javascript_include_tag
<% end %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui.css' %>
<% end %>

<div class='vocab_sheet_head'>
  <div class='vocab_sheet_controls vocab_sheet_page_controls'>
    <%= orange_submit_button 'vocab_sheet.print', {print: true} %>
    <%= form_tag vocab_sheet_path, method: :delete, class: '' do %>
      <%= orange_submit_button 'vocab_sheet.delete' %>
    <% end %>
    <div class='size_controls'>
      <% (1..5).each do |i| %>
        <%= link_to "size_#{i}",
          vocab_sheet_path(size: i),
          class: "ir size_label size_#{i}_label#{@size == i ? " selected_icon" : ''}" %>
      <% end %>
    </div>
  </div>
  <%= render partial: 'vocab_sheets/vocab_sheet_name', locals: { sheet_name: @sheet.name } %>
  <div class='if_js'>
    <%= t('vocab_sheet.sortable_instruction') %>
  </div>
</div>

<% if @sheet.items.length > 0 %>
  <div class='vocab_sheet vocab_sheet_page rule_after clearfix_left'>
    <ul id='vocab_sheet'>
      <% @sheet.items.each_with_index do |vocab_sheet_item, i| %>
        <%= render partial: 'vocab_sheets/vocab_sheet_item', locals: { vocab_sheet_item: vocab_sheet_item, size: @size } %>
      <% end %>
    </ul>
  </div>
<% else %>
  <%= t('vocab_sheet.empty') %>
<% end %>
