- content_for :scripts do
  \# javascript_include_tag
- content_for :head do
  = stylesheet_link_tag "smoothness/jquery-ui.css"

.vocab-sheet__head
  .vocab-sheet__controls.vocab-sheet__page-controls
    = orange_submit_button "vocab_sheet.download", {format: :pdf, print: true}
    = orange_submit_button "vocab_sheet.print", {print: true}
    = form_tag vocab_sheet_path, method: :delete, class: "" do
      = orange_submit_button "vocab_sheet.delete"
    .vocab-sheet__size-controls
      .vocab-sheet__size-control-box
        - (1..5).each do |i|
          = link_to vocab_sheet_path(size: i), { class: @size == i ? "ir vocab-sheet__size-label current-size" : "ir vocab-sheet__size-label", "data-tooltip": "true", "data-tooltip-text": "#{i} Columns" } do
            = image_tag "ui/#{i}-column.svg"
      .vocab-sheet__size-control-box
        = link_to vocab_sheet_path(size: 6), { class: @size == 6 ? "ir vocab-sheet__size-label current-size" : "ir vocab-sheet__size-label", "data-tooltip": "true", "data-tooltip-text": "Notes view" } do
          = image_tag "ui/notes-view.svg"
  = render partial: "vocab_sheets/vocab_sheet_name", locals: { sheet_name: @sheet.name }
  .if_js
    = t("vocab_sheet.sortable_instruction")

- if @sheet.items.length > 0
  .vocab_sheet.vocab_sheet_page.rule_after.clearfix_left
    %ul#vocab_sheet
      - @sheet.items.each_with_index do |vocab_sheet_item, i|
        = render partial: "vocab_sheets/vocab_sheet_item", locals: { vocab_sheet_item: vocab_sheet_item, size: @size }
- else
  = t("vocab_sheet.empty")
