<% content_for :scripts do %>
  # javascript_include_tag
<% end %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui.css' %>
<% end %>

<div class='vocab-sheet__head'>
  <div class='vocab-sheet__controls vocab-sheet__page-controls'>
    <%= orange_submit_button 'vocab_sheet.print', {print: true} %>
    <%= form_tag vocab_sheet_path, method: :delete, class: '' do %>
      <%= orange_submit_button 'vocab_sheet.delete' %>
    <% end %>
    <div class='vocab-sheet__size-controls'>
      <%= link_to vocab_sheet_path(size: 1), class: "ir vocab-sheet__size-label" do %>
        <%= image_tag "/ui/vocab-sheet-icon-1.jpg" %>
      <% end %>
      <%= link_to vocab_sheet_path(size: 2), class: "ir vocab-sheet__size-label" do %>
        <%= image_tag "/ui/vocab-sheet-icon-2.jpg" %>
      <% end %>
      <%= link_to vocab_sheet_path(size: 3), class: "ir vocab-sheet__size-label" do %>
        <%= image_tag "/ui/vocab-sheet-icon-3.jpg" %>
      <% end %>
      <%= link_to vocab_sheet_path(size: 4), class: "ir vocab-sheet__size-label" do %>
        <%= image_tag "/ui/vocab-sheet-icon-4.jpg" %>
      <% end %>
      <%= link_to vocab_sheet_path(size: 5), class: "ir vocab-sheet__size-label" do %>
        <%= image_tag "/ui/vocab-sheet-icon-5.jpg" %>
      <% end %>
      <%= link_to vocab_sheet_path(size: 6), class: "ir vocab-sheet__size-label" do %>
        <%= image_tag "/ui/vocab-sheet-icon-6.jpg" %>
      <% end %>
    </div>
  </div>
  <%= render partial: 'vocab_sheets/vocab_sheet_name', locals: { sheet_name: @sheet.name } %>
  <div class='if_js'>
    <%= t('vocab_sheet.sortable_instruction') %>
  </div>
</div>

<% if @sheet.items.length > 0 %>
  <div class='vocab_sheet vocab_sheet_page rule_after clearfix_left'>
    <ul id='vocab_sheet'>
      <% @sheet.items.each_with_index do |vocab_sheet_item, i| %>
        <%= render partial: 'vocab_sheets/vocab_sheet_item', locals: { vocab_sheet_item: vocab_sheet_item, size: @size } %>
      <% end %>
    </ul>
  </div>
<% else %>
  <%= t('vocab_sheet.empty') %>
<% end %>
