.typography.rule_after
  :markdown
    Contact Us
    ==========

    Deaf Studies Research Unit  
    Victoria University of Wellington  
    PO Box 600  
    Wellington  
    New Zealand  

    Managing Editor: <David.Mckee@vuw.ac.nz>  
    Database Manager: <Micky.Vale@vuw.ac.nz>

    ### Telephone: ###
    +64 4 463 5626  
    +64 4 463 5322

.rule_after.clearfix_left.vertical_space
  %h2#feedback Send Feedback
  = render :partial => 'shared/flashes', :locals => {:prefix => 'feedback_'}
  = semantic_form_for @feedback, :url => feedback_index_path(:anchor => 'feedback'), :html => {:multipart => true} do |form|
    = form.inputs do
      = form.input :name, :required => true, :label => true, :input_html => {:class => 'text_input'}
      = form.input :email, :required => true, :label => true, :input_html => {:class => 'text_input'}
      = form.input :hearing_level, :label => true, :as => :radio, :collection => ['Deaf', 'Hearing impaired', 'Hearing'], :wrapper_html => {:class => 'inline'}
      = form.input :nzsl_level, :label => true, :as => :radio, :collection => ['Fluent NZSL user', 'NZSL user', 'NZSL learner'], :wrapper_html => {:class => 'inline'}
      = form.input :include_sign, :label => true
      .if_feedback_include_sign.unless_js.sub_form
        = form.input :include_describe, :label => true, :hint => true, :input_html => {:class => 'text_input'}
        = form.input :include_define, :label => true, :input_html => {:class => 'text_input'}
        = form.input :include_users, :label => true, :input_html => {:class => 'text_input'}
        =# form.input :include_comments, :label => true, :input_html => {:class => 'text_input'}
      = form.input :change_sign, :label => true, :label => true
      .if_feedback_change_sign.unless_js.sub_form
        = form.input :change_sign_gloss, :label => true, :input_html => {:class => 'text_input'}
        = form.input :change_sign_url, :label => true, :label => true, :input_html => {:class => 'text_input'}
        = form.input :change_sign_entry, :label => true, :as => :radio, :collection => ['Glosses (meaning)', 'How the sign is made', 'Grammar information', 'Usage information', 'Variation Information', 'Other']
        =# form.input :change_comments, :label => true, :input_html => {:class => 'text_input'}
      = form.input :technical_fault, :label => true
      = form.input :video, :hint => true, :label => true
      = form.input :message, :label => true, :input_html => {:class => 'text_input'}
      
    = form.buttons do
      = submit_button('feedback.submit')
