.rule_after
  - semantic_form_for @feedback, :url => feedback_index_path, :html => {:multipart => true} do |form|
    - form.inputs do
      = form.input :name, :class => 'text_input'
      = form.input :message, :class => 'text_input'
      = form.input :video, :hint => t("feedback.video_size_limit"), :class => 'text_input'
    = form.buttons do
      = submit_button('feedback.submit')
