- semantic_form_for @feedback, :url => feedback_index_path, :html => {:multipart => true} do |form|
  - form.inputs do
    = form.input :name, :required => true
    = form.input :email, :hint => "If provided, must be a valid email address"
    = form.input :message
    = form.input :video, :hint => "Maximum size 5mb."
  = form.buttons do
    = form.commit_button 'Send Feedback'
