!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{ charset: "utf-8" }
  %title= page_title
  %meta{ 'http-equiv': "X-UA-Compatible", content: "IE-edge,chrome=1" }
  = favicon_link_tag 'apple-touch-icon.png', rel: 'images/apple-touch-icon', type: 'image/png'
  = stylesheet_link_tag "application", media: "all", "data-urbolinks-track": true
  = javascript_include_tag "application", "data-urbolinks-track": false
  = javascript_include_tag :modernizr
  = stylesheet_link_tag 'admin',  media: :all
  = yield :head
  %meta{ name: "description", content: t('layout.meta_description') }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
  %title= page_title
%body
  .admin-dashboard.shrink-medium
    .row.expanded.admin-dashboard-top-nav-bar
      .columns.medium-2
        = link_to root_path, class: 'admin-dashboard-logo' do
          = image_tag 'ui/logo-serrated.png', alt: "NZSL Online Admin"
      .columns.show-for-medium
      .columns.shrink.admin-dashboard-top-bar-actions

    .admin-dashboard-body.off-canvas-wrapper
      - sidebar_classes = [ "admin-dashboard-sidebar",
                            "position-left",
                            "off-canvas",
                            "off-canvas-absolute",
                            "reveal-for-medium",
                            "data-off-canvas" ]
      %div{ class: sidebar_classes, id: "admin-dashboard-sidebar" }
        .admin-dashboard-sidebar-title-area
          .admin-dashboard-open-sidebar
            %button.admin-dashboard-open-sidebar-button.show-for-medium#open-sidebar{ 'aria-label': "open menu",
                                                                                      type: "button" }
              %span{ 'aria-hidden': "true" }
                %a{ href: "#" }
                  %i.large.fa.fa-angle-double-right

        .admin-dashboard-sidebar-inner
          - if current_user
            %ul.menu.vertical
              %li
                = link_to admin_pages_path do
                  %span.admin-dashboard-sidebar-text
                    %i.fi-page-doc
                    Pages
              %li
                = link_to new_admin_page_path do
                  %span.admin-dashboard-sidebar-text
                    %i.fi-page-add
                    New Page
              %li
                = link_to edit_admin_settings_path do
                  %span.admin-dashboard-sidebar-text
                    %i.fi-wrench
                    Settings
              %li
                = link_to admin_requests_path do
                  %span.admin-dashboard-sidebar-text
                    %i.fi-list-bullet
                    Freelex Logs
              %li
                = link_to edit_admin_user_path do
                  %span.admin-dashboard-sidebar-text
                    %i.fi-torsos-female-male
                    My Password
            = button_to destroy_user_session_path, method: :delete,  class: 'button hollow' do
              %i.fi-lock
              Logout
      .admin-dashboard-body-content.off-canvas-content.data-off-canvas-content
        = render partial: 'shared/flashes', locals: { prefix: '' }
        = yield
  = yield :scripts
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24185042-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
