!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  %title= page_title
  %meta{'http-equiv' => "X-UA-Compatible", :content => "IE-edge,chrome=1"}
  = favicon_link_tag
  = favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png'
  = stylesheet_link_tag :all, :cache => 'nzsl-cache'
  = yield :head
  %meta{:name => "description", :content => t('layout.meta_description')}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %title= page_title
  = javascript_include_tag 'modernizr.min.js', 'flowplayer-3.2.6.min.js'
  = csrf_meta_tag
%body{:class => vocab_sheet?}
  .not_sticky_footer
    = render :partial => 'shared/vocab_sheet' if vocab_sheet?
    = render :partial => 'shared/header'
    %div.before_sticky_footer.main_column
      = yield
  %footer.sticky_footer.footer
    .center.main_column
      %nav
        = static_links.map { |link| render_navigation_link(link) }.join(' | ').html_safe
      .copyright
        :markdown
          Printing or electronic copying of vocabulary sheets or individual images is permitted for individual use, or by teachers for use in their own classroom. Wider distribution or re-publication of  any images or text from NZSL Online requires prior permission from the Managing Editor: <David.McKee@vuw.ac.nz>

  = javascript_include_tag :defaults, :cache => 'nzsl-cache.js'
  = yield :scripts
