!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => "utf-8"}
  %title= page_title
  %meta{'http-equiv' => "X-UA-Compatible", :content => "IE-edge,chrome=1"}
  / = favicon_link_tag
  -# = favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png'
  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => false
  = javascript_include_tag :modernizr

  = yield :head
  %meta{:name => "description", :content => t('layout.meta_description')}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  = print_stylesheet_tag params[:print]
  %link{ href:"https://fonts.googleapis.com/css?family=Montserrat:300,400,500", rel:"stylesheet" }
%body
  .visuallyhidden
    %a{:href => '#content'} Skip to Content
    |
    %a{:href => '#nav'} Skip to Page Navigation
  %div{ :class => "not_sticky_footer row #{vocab_sheet?}"}
    = render :partial => 'shared/header'
    #content.before_sticky_footer.small-11.small-centered.medium-10.large-8.large-offset-2
      = render :partial => 'shared/vocab_sheet'
      = render :partial => 'shared/flashes', :locals => {:prefix => ''}
      = render :partial => 'shared/flashes', :locals => {:prefix => 'vocab_bar_'} unless vocab_sheet?
      = yield
  = render :partial => 'shared/footer', :locals => {:last => true}

  = print_javascripts_tag params[:print]
  = yield :scripts
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24185042-1']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
